* {
  font-family: Anomaly Mono;
  background: transparent;
  font-size: 16px;
}

window {
  background-image: linear-gradient(to bottom, #692626);
  border: 1px solid  #271e1e;
  border-radius: 4px;
}

#outer-box {
  padding: 1px;
  border: 1px solid  #CC0000;
  border-radius: 4px;
}

#input {
  margin: 12px 16px;
  padding: 4px 8px;
  border: 1px solid #271e1e;
  background-color: #271e1e;
  color: #a7a7a7;
}

#input:focus {
  border: 1px solid #CC0000;
  background-color: #271e1e;
}


#scroll{
  color: #ffffff;
  background-color: #271e1e;
  padding: 0px 16px;
}

#inner-box {
  padding: 16px 0px;
}

#entry {
  padding: 2px 16px;
}

#entry:selected {
  border: none;
  border-left: 1px solid#CC0000;
  background-color: #602222;
}

#text {
  margin: 6px 6px 6px 8px;
  padding: 6px;
} 
