* {
    font-family: Anomaly Mono;
    padding: 0px;
    background: transparent;
}

window#waybar {
    padding: 0px;
}

window#waybar,
tooltip,
#battery *,
#network *,
#cpu *,
#memory *,
#temperature *,
#backlight *,
#clock *,
#custom-applauncher *,
#custom-notification *,
#tray *,
#workspaces *,
#pulseaudio * {
    font-size: 20px;
}

#battery,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#clock,
#custom-applauncher,
#custom-notification,
#tray,
#workspaces,
#pulseaudio {
  margin: 4px 6px;
  margin-right: 0px;
  padding: 6px 8px;
  border-radius: 4px;
}

#clock {
  margin-right: 6px;
}

#window {
  font-size: 16px;
}

#tray menu {
  padding: 4px;
}
#tray menu menuitem {
  margin: 3px;
  border-radius: 4px;
  border-style: none;
}
#tray menu menuitem:hover {
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
}
#workspaces button.focused {
  font-weight: bold;
}
#workspaces button.active {
  font-weight: bold;
}

/* =========================== */

window#waybar {
    background-image: linear-gradient(to bottom, #8e3333, #692626);
}

tooltip {
  background-image: linear-gradient(to bottom, #5a371e);
}

#battery,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#clock,
#custom-applauncher,
#custom-notification,
#tray,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #602222, #602222, #3a1515);
  border: 1px solid #271e1e;
  border-top: 1px solid #876060;
  box-shadow: 0px 0px 3px #271e1e;
  color: #ffffff;
}

#custom-applauncher,
#network {
  background: linear-gradient(to bottom, #1F5FAA, #0000CC);
}

#clock,
#temperature {
  background: linear-gradient(to bottom, #CC0000, #660000);
}

#battery,
#cpu {
  background: linear-gradient(to bottom, #009933, #004d1a);
}

#pulseaudio,
#memory {
  background: linear-gradient(to bottom, #BA7B3E, #5a371e);
}

#backlight {
  background: linear-gradient(to bottom, #0099CC, #1F5FAA);
}

/*
#backlight {
  background: linear-gradient(to bottom, #ffffff, #a7a7a7);
  color: #271e1e;
}

#battery:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#clock:hover,
#custom-applauncher:hover,
#custom-notification:hover,
#tray:hover,
#workspaces:hover,
#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #cc0000, #cc0000, #602222);
  border: 1px solid #271e1e;
  border-top: 1px solid #876060;
  box-shadow: 0px 0px 3px #271e1e;
  color: #ffffff;
}
*/
#window {
  color: #a7a7a7;
}

#tray menu {
  background-image: linear-gradient(to bottom, #8e3333, #692626);
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #602222, #602222, #3a1515);
  border: 1px solid #271e1e;
  border-top: 1px solid #876060;
  box-shadow: 0px 0px 3px #271e1e;
  color: #ffffff;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #cc0000, #cc0000, #602222);
  color: #ffffff;
}

#workspaces button:hover {
  color: #CC0000;
}
#workspaces button.focused {
  color: #0099CC;
}
#workspaces button.active {
  color: #0099CC;
}
#workspaces button.urgent {
  color: #BA7B3E;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background: linear-gradient(to bottom, #CC0000, #660000);
}
